.app {
  color: white;
}

h1 {
  font-size: 5em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h3, h4 {
  font-size: 1em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h5, h6 {
  font-size: 0.75em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

p, ul, li {
  font-size: .95em;
  letter-spacing: 0.5px;
  color: #5f6776;

}

.emoji {
  opacity: 1 !important;
}

/* a {
  color: rgba(34, 191, 200, 1);
  font-size: .80em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

a:hover {
  color: rgba(34, 191, 200, 0.5);
  cursor: pointer;
} */