.nav {
  display: flex;
  position: fixed;
  float: right;
  justify-content: right;
  align-items: top;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-top: -30px;
  margin-bottom: -30px;
  transition: transform 450ms;
}

.nav-btn {
  font-size: 2.5em;
  margin-right: 40px;
  cursor: pointer;
}

.nav-btn:hover {
  color: rgb(34, 191, 200) !important;
  cursor: pointer;
  opacity: 1;
}