.projects-section {
  max-width: 100%;
  margin-top: 140px;
  margin-left: 40px;
  margin-right: 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: space-evenly; */
  align-content: left;
  /* padding-left: 0px; */
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */
}